* {
	box-sizing: border-box;	
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-size: 14px;
	font-family: 'Raleway';
	background-color: hsl(229, 57%, 11%);
}

.img {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: end;
}

.img img {
	width: 100%;
	height: 50vh;
}

.content {
	position: absolute;
	color: white;
	width: 60%;
	height: 22%;
	top: 39%;
	left: 20%;
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.content .logo {
	width: 37%;
	height: 100%;
	background-color: hsl(228, 56%, 26%);
	border-radius: 10px 120px 10px 10px;
}

.content .bar {
	width: 58%;
	height: 75%;
	background-color: hsl(228, 56%, 26%);
	border-radius: 10px;
}

.items {
	height: 70%;
	margin-top: 12%;
	padding-left: 15%;
}

.header img {
	width: 40%;
	margin-bottom: 50px;
}

.links {
	display: flex;
}

.links > * {
	background-color: hsl(229, 57%, 11%);
	margin-right: 13px;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bar .container {
	line-height: 1.6rem;
	font-size: 120%;
	padding-left: 10%;
	padding-top: 3%;
}

.container .left {
	position: absolute;
	background-color: white;
	width: 17%;
	min-height: 80px;
	padding-top: 25px;
	padding-left: 20px;
	top: 0;
	right: 7%;
	border-radius: 10px;
}

.gb-left {
	font-size: 50px;		
}

.triangle {
	position: absolute;
	width: 0;
 	height: 0;
 	border-top: 30px solid transparent;
 	border-bottom: 30px solid transparent;
 	border-right: 30px solid white;
	top: 50px;
	right: 0%;
}

.bar .usage {
	background-color: hsl(229, 57%, 11%);
	width: 85%;
	font-size: 30px;
	border-radius: 15px;
	margin-bottom: 7px;
}

.status {
	width: 85%;
	display: flex;
	justify-content: space-between;
}

.finished {
	width: 75%;
	height: 20px;
	background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
	border-radius: 15px;
	display: flex;
	justify-content: end;
	align-items: center;
	margin-bottom: 10px;	
}


@media(max-width: 800px){
	* {
		padding: 0;
		margin: 0;
	}

	.container .left {
		width: 50%;
		height: 13%;
		right: 25%;
		top: 77%;
	}

	.triangle {
		display: none;
	}

	.content {
		top: 15%;
		left: 10%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		width: 80%;
		height: 70vh;
	}
	
	.img img {
		height: 120vh;
	}

	.content > .logo {
		width: 100%;
		margin-bottom: 50px;
		height: 220px;
	}

	.header {
		width: 100%;
		margin-top: 20px;
	}	

	.links {
		margin-right: 50px;
	}

	.links > *{
		width: 100%;	
	}

	.content > .bar {
		width: 100%;
		height: 220px;
	}

	.bar > * {
		margin-top: 20px;
	}

	.container > * {
		margin-top: 20px;
	}
}

